<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fliptalk Demo Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
</head>
<body>
{% include 'common/gnb.html' with user=user %}

<div class="container">
<!-- 본문 영역 -->
<div id="flipTalkContent" class="flip-card">
    <!-- 본문 카드 앞면 -->
    <div class="face front">
        <section class="jumbotron content">
            <span class="glyphicon glyphicon-stats pull-right flip-content-icon"></span>
            <span class="glyphicon glyphicon-cog pull-right flip-content-icon"></span>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/social/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    {{ post.content }}
                </div>
            </div>
            <footer>
                <button id="agree" type="button" class="btn btn-primary btn-lg">{{ post.agreeLabel }}</button>
                <button id="disagree" type="button" class="btn btn-warning btn-lg">{{ post.disagreeLabel }}</button>
            </footer>
        </section>
    </div>
    <!-- 본문 카드 뒷면 통계 -->
    <div class="face back hide">
        <section class="jumbotron content">
            <span class="glyphicon glyphicon-refresh pull-right flip-content-icon"></span>

            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail statistics">
                        <div class="caption">
                            <h3 class="title">Foobar</h3>
                        </div>
                        <input type="text" class="dial" value="68">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="thumbnail statistics">
                        <div class="caption">
                            <h3 class="title">Foo</h3>
                        </div>
                        <input type="text" class="dial" value="44">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="thumbnail statistics">
                        <div class="caption">
                            <h3 class="title">Bar</h3>
                        </div>
                        <input type="text" class="dial" value="89">
                    </div>
                </div>
            </div>
            <footer>
            </footer>
        </section>
    </div>
</div>
<!-- 댓글 영역 -->
<div id="flipTalkComment" class="flip-card">
    <!-- 댓글 카드 앞면 (잠금 화면) -->
    <div class="face front">
        <div class="content comment-lock">
            <h3>
                <span class="glyphicon glyphicon-lock"></span> 찬성이나 반대를 선택하면 다른 의견을 볼 수 있습니다.
            </h3>
        </div>
    </div>
    <!-- 댓글 카드 뒷면 (댓글들) -->
    <div class="face back hide">
        <!-- 첫 번째 댓글 컨텍스트 -->
        <section class="comments row well well-lg">
            <div class="agree-comment">
                <div id="context0agree0" class="comment flip-card">
                    <div class="face front hide well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-cog pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p class="content">찬성 댓글</p>
                            </div>
                            <footer class="clearfix pull-right">
                                <button class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up flip-content-icon"></span> 지지하기
                                </button>
                                <button class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down flip-content-icon"></span> 이의있소
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="face back well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-refresh pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>BACK1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="context0agree1" class="comment supported flip-card">
                    <div class="face front hide well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-cog pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>긴 의견의 지지 댓글 긴 의견의 지지 댓글 긴 의견의 지지 댓글 긴 의견의 지지 댓글 긴 의견의 지지 댓글 긴 의견의 지지 댓글 긴 의견의 지지 댓글 긴
                                    의견의 지지 댓글 긴 의견의 지지 댓글</p>
                            </div>
                            <footer class="clearfix pull-right">
                                <button class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up flip-content-icon"></span> 지지하기
                                </button>
                                <button class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down flip-content-icon"></span> 이의있소
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="face back well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-refresh pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>BACK1</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="context0agree2" class="comment flip-card">
                    <div class="face front hide well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-cog pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>긴 의견의 찬성 댓글 긴 의견의 찬성 댓글 긴 의견의 찬성 댓글 긴 의견의 찬성 댓글 긴 의견의 찬성 댓글 긴 의견의 찬성 댓글 긴 의견의 찬성 댓글 긴
                                    의견의 찬성 댓글</p>
                            </div>
                            <footer class="clearfix pull-right">
                                <button class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up flip-content-icon"></span> 지지하기
                                </button>
                                <button class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down flip-content-icon"></span> 이의있소
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="face back well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-refresh pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>BACK</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="disagree-comment">
                <div id="context0disagree0" class="comment flip-card">
                    <div class="face front hide well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-cog pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>반대 댓글</p>
                            </div>
                            <footer class="clearfix pull-right">
                                <button class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up flip-content-icon"></span> 지지하기
                                </button>
                                <button class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down flip-content-icon"></span> 이의있소
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="face back well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-refresh pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>BACK1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="context0disagree1" class="comment flip-card">
                    <div class="face front hide well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-cog pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글긴 반대 댓글</p>
                            </div>
                            <footer class="clearfix pull-right">
                                <button class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up flip-content-icon"></span> 지지하기
                                </button>
                                <button class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down flip-content-icon"></span> 이의있소
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="face back well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/social/50x50">
                            </a>
                            <span class="glyphicon glyphicon-refresh pull-right flip-content-icon"></span>

                            <div class="media-body">
                                <p>BACK1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 두 번째 댓글 컨텍스트 -->

        <!-- 세 번째 댓글 컨텍스트 -->

        <!-- 네 번째 댓글 컨텍스트 -->
    </div>
</div>
</div>

{% include 'common/footer.html' %}
<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type = "text/javascript" src = "/static/js/jquery.knob.js"></script>
<script type="text/javascript" src="/static/js/jquery.jsPlumb-1.6.4-min.js"></script>
<script type = "text/javascript" src = "/static/js/holder.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/demo.js"></script>
</body>
</html >