<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fliptalk Post Page</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css">
	</head>
	<body id="post">
		{% include 'common/gnb.html' with user=user %}
		
		<div class="container">
			<!-- 본문 영역 -->
			<form role="form" action="{% url 'post' %}" method="post">
				
			</form>
		</div>
		
		<footer class="well well-sm">
			© 2013 mOer
		</footer>
		<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"/>"></script>
		<script type="text/javascript" src="/static/js/holder.js"/>"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/demo.js"/>"></script>
	</body>
</html>